{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Camilo</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid excepturi rerum sapiente ad ratione error iste repudiandae doloribus incidunt ipsa fugiat suscipit maxime quis quibusdam molestiae, commodi aperiam at sed.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/camilo.jpg" alt="" class="img-thumbnail">
    </div>
</div>   

{{> footer }}